<div class="mb-3">
  <div class="d-flex justify-content-between">
    <h2>
      Novo Funcionário
    </h2>

    <div>
      <%= link_to 'Voltar', proponents_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>

<div class="card-body">
  <%= render 'form' %>
</div>
